<!doctype html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="10">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <title></title>

    <script>
        function showImage() {
            var images = 'TRACK_INFO_ARTIST_IMAGES_URL_LIST'.split(',');
            var currentItem = (new Date().getMinutes() % images.length);
            document.getElementById('image').innerHTML = '<img style="max-height:40%;width:auto;max-width:90%;" src="' + images[currentItem] + '" />';
        }

    </script>
</head>


<body
        onload="showImage()"
        style="text-align:center;font-family: 'Inconsolata'"
        text="white"
        bgcolor="#222222"
        >

<div id="image"></div>
<!--<div id="image"><img src="TRACK_INFO_IMAGE_URL"/></div>-->
<h1>TRACK_INFO_TITLE</h1>
<h2>TRACK_INFO_ARTIST</h2>
<h3>TRACK_INFO_ALBUM</h3>
<hr/>

<div>TRACK_INFO_LYRICS_HTML</div>

</body></html>
